<!DOCTYPE html>
<html lang="en">
<style>
    th, td {
        border: 1px solid black;
        text-align: center;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
<div class="m-3">
    <h1>Dobrodošli na strani za urejanje računov</h1>

    {% if bills_list %}
        <table class="table">
            <tr>
                <td>EOR</td>
                <td>Št. računa</td>
                <td>Potrjeno</td>
                <td>Nazadnje posodobljeno</td>
            </tr>
            {% for bill in bills_list %}
                <tr>
                    <td>{{ bill.eor }}</td>
                    <td>{{ bill.bill_number }}</td>
                    <td>{{ bill.status }}</td>
                    <td>{{ bill.last_updated }}</td>
                    <td><a href="/racuni/{{ bill.eor }}" class="btn btn-primary"> Uredi </a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Izstavljenega ni bilo še nobenega računa</h2>
    {% endif %}
    <a href="{% url 'companies' %}" class="btn btn-primary m-2">Urejaj podjetja</a>
    <a href="{% url 'history' %}" class="btn btn-primary m-2">Zgodovina</a>

    <a href="{% url 'output' %}" class="btn btn-secondary m-2">Izpis</a>
    <div>
    </div>
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
                integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
                crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
                integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
                crossorigin="anonymous"></script>
    </div>
</body>
</html>
