<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="10">
    <title>Izpis</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
<a href="{% url 'index' %}" class="btn btn-secondary m-3"><i class="bi bi-box-arrow-left m-1"></i>Nazaj</a>


{% if latest_bill %}
<ul class="m-1">
    <li>
        <h3>Podjetje</h3>
        <ul>
            <li>{{ latest_bill.producer.title }}</li>
            <li>{{ latest_bill.producer.address }}</li>
            <li>{{ latest_bill.producer.post_office }}</li>
            <li>{{ latest_bill.producer.ddv_id }}</li>
        </ul>
    </li>
    <li>
        <h3>Številka računa: {{ latest_bill.bill_number }}</h3>
    </li>
    <li>
        <h3>Postavke računa</h3>
        <ul>
            {% for product in latest_products %}
                <li><h4>{{ product.product_title }}</h4></li>
                <ul>
                    <li>Količina: {{ product.quantity }}</li>
                    <li>Cena (€): {{ product.value|floatformat:2 }}</li>
                </ul>
            {% endfor %}
        </ul>
    </li>
    <li>
        <h3>Skupaj za plačilo: {{ total_price|floatformat:2 }}€</h3>
    </li>
    <li>
        <h3>Podatki o davku:</h3>
        <ul>
            <li>Davčna stopnja: {% widthratio latest_bill.tax_level 1 100 %}%</li>
            <li>Neto vrednost: {{ no_tax|floatformat:2 }}€</li>
            <li>DDV: {{ ddv|floatformat:2 }}€</li>
            <li>Bruto Vrednost: {{ total_price|floatformat:2 }}</li>
        </ul>
    </li>
    <li>
        <h3>Prodajalec: {{ latest_bill.seller }}</h3>
    </li>
    <li>
        <h3>Čas izdaje računa: {{ latest_bill.last_updated }}</h3>
    </li>
    <li>
        <h3>Zaščitna oznaka izdajatelja računa (ZOI): {{ latest_bill.zoi }}</h3>
    </li>
    <li>
        <h3>Enkratna identifikacijska oznaka računa (EOR): {{ latest_bill.eor }}</h3>
    </li>
</ul>
    {% else %}
    <h1 class="m-2">Potrdili niste še nobenega računa</h1>
{% endif %}

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

</body>
</html>
